<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{{{_sections.home}}}
	{{{_sections.personal}}}
	{{{_sections.edit}}}
	{{{_sections.register}}}
	{{{_sections.login}}}
	{{{_sections.logout}}}
	{{{_sections.home_announcements}}}
</head>
<body>
	{{{body}}}
	{{{_sections.editJS}}}
	{{{_sections.loginJS}}}
	{{{_sections.homeJS}}}
	{{{_sections.registerJS}}}
	{{{_sections.personalJS}}}
	{{{_sections.home_announceJS}}}
</body>
</html>